
.App {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header{
  width:80%;
  margin:0 10%;
}

h3{
  width:15%;
  margin-right: 60%;
}

nav.App-link{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
a.link{
  margin:0 2%;
}

.App-link{
  color:red;
  flex-direction: row;
  margin:2% 4%;
}
.App-link .link{
  color: #61dafb;
}

.home{
  text-align: center;
  color:red;
}

.img-container{
  height: 20vh;
  
}
.pizza-container{
  text-align: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}